
.borde{
    background-color:lightgrey;
    height: 100px;
    width: 200px;
    text-align: end;
}
.borde1 {
    background-color:rgba(255, 255, 0, 0.952);
    height: 50px;
    text-align: center;
}
.borde2 {
    
    height: 50px;
    text-align: center;
}

.border3 {
    background-color: pink;
}
body{

        font-family: 'Montserrat', sans-serif;
        background: url(../img/asientos.jpg)  no-repeat center center fixed;
         background-repeat: no-repeat;
         -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;    
}
form
{
   border:2px solid #e1e1e1 ;
                height: 300px;
                width: 600px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);   
         
}

@media(max-width:400px)
{
  form{
      width: 90%; 
  }
}