.border {
    background-color: gray;
    height: 50px;
    text-align: center;
}
.borde1 {
    background-color: red;
    height: 50px;
    text-align: center;
}
.borde2 {
    
    height: 50px;
    text-align: center;
}
.border3 {
    background-color: pink;
}
form{
    
    background-color: red;
    
    border: 2px solid blue;  
}
