body,html{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(204, 211, 218);
    background-repeat: no-repeat;
    -webkit-background-size: cover;

    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    
}
.perro
{
  height: 50;
  width: 70;
}
.tables{
  height: 100%;
  width: 95%;
  align-self: center;
}


