body,html{
    font-family: 'Montserrat', sans-serif;
    background-color:#262626;
    background-repeat: no-repeat;
    -webkit-background-size: cover;

   -moz-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
      
         
 
     
}
.perro
{
  height: 50;
  width: 70;
}


